#Phalcon
.idea
.DS_Store
public/.DS_Store
*/.DS_Store
*.DS_Store
/cache/
app/config/config.ini.dev
ehthumbs.db
Icon?
Thumbs.db
.project
.settings
.buildpath
*.komodoproject
*.sublime-project
*.sublime-workspace

#Composer
/vendor/
composer.lock